.mainPanel {
  background: url('../../assets/bg1.jpg');
  position: relative;
  width: 100wh;
  min-width: 1200px;
  height: 100vh;
  background-size: cover;
  .contentPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 10%;
    top: 50%;
    margin-top: -150px;
    height: 300px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 700;
      font-size: 34px;
      text-align: left;
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
    }
    .title2 {
      font-weight: 300;
      font-size: 20px;
      text-align: left;
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
    }
    .loginbox {
      width: 260px;
      margin-top: 30px;
      .login-form-button {
      width: 100%;
      border-radius: 30px;
      height: 30px;
      border: 0px;
      background: linear-gradient(
        to right,
        rgb(0, 91, 172) 0%,
        rgb(51, 153, 255) 100%
      );
    }
    .login-form-newuser {
      margin-left: 30px;
    }
    .login-form-forgot {
      margin-right: 30px;
      float: right;
    }

    .ant-input-affix-wrapper {
      border-radius: 25px;
      -web-kit-appearance:none;
      -moz-appearance: none;
      border:1px solid #6a6f77;
      color:#6a6f77;
      outline:0;
      padding-left: 14px !important;
      text-align: center;
      background: rgba(0, 0, 0, 0.2) !important;
    }
    input {
      border-radius: 25px;
      -web-kit-appearance:none;
      -moz-appearance: none;
      // border:1px solid #6a6f77;
      color:#6a6f77;
      outline:0;
      padding-left: 14px !important;
      text-align: center;
      background: rgba(0, 0, 0, 0.2) !important;
    }
    input:focus::-webkit-input-placeholder {
      color: transparent;
      }
      input:focus:-moz-placeholder {
      color: transparent;
      }
      input:focus::-moz-placeholder {
      color: transparent;
      }
      input:focus:-ms-input-placeholder {
      color: transparent;
      }
    }
  }

  .footer {
    bottom: 40px;
    width: 100%;
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    .first-row-sty {
      white-space: pre-wrap;
      font-size: 16px;
      text-align: center;
    }
  }
}